.customersay{
    display: flex;
    gap: 2vw;
    justify-content: space-between;
    padding: 1vh 2vw;
}
.review{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.26);
    width: 28vw;
    padding: 1vw;
    background-image: linear-gradient(to right bottom, rgba(223, 196, 145, 0.5),rgba(209, 131, 42, 0.7),rgba(223, 196, 145, 0.5));
    border-radius: 10px;
}
.review img{
    max-height: 7rem;
    max-width: 7rem;
    min-height: 7rem;
    min-width: 7rem;
    border: 2px solid black;
    border-radius: 50%;
}
.customersay p{
    min-height: 9rem;
    max-height: 9rem;
    overflow: hidden;
    /* padding: 0 4vw; */
}
.rev{
    text-align: center;
    color: rgb(133, 80, 10);
}
.rev::after{
    content: '"';
}
.rev::before{
    content: '"';
}